:root {
  --main-position: fixed;
  --main-hot_invert: 50%;
  /*--main-hot: invert(50%) sepia(50%) saturate(2) hue-rotate(45deg);*/
}

#overlay {
  all: initial;
  * {
    all: unset;
  }

  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-items: start;
  justify-content: center;
  color: black;
  /*font-size: larger;*/
  font-weight: 400;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.10);
  z-index: 9998;
  cursor: pointer;


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }



  border: 2px green dashed;
  position: fixed;
  /*position: var(--main-position);*/
/*  max-width: 33%;
  max-height: 40%;
  min-width: 12em;
  min-height: 12em;
*/
  height: 9em;
  /*left: 10%;*/
  width: 100%;


  a, td {
    color: black;
    font-family: 'Futura PT'; 
  }

  a, td {
    /*color: #222222;*/
    font-weight: 600;
    /*text-shadow: 1px 1px #eeeeee;*/
  }

  .tags_list {
    font-size: larger;
    font-weight: 900;
  }

  .iconTagDeleteActive {
    color: red;
  }

  .iconTagDeleteInactive {
    color: #90ee90;
  }

  v.row_heading {
    color: purple;
  }

  #recent_list {
    color: green;
    font-size: smaller;
    font-weight: 900;
  }

  /*.pure-menu-horizontal.pure-menu-scrollable {
    padding-bottom: 0;
    padding-top: 0;
  }

  .pure-menu-link {
    padding-bottom: 0;
    padding-top: 0;
  }

  .pure-table {
    bottom: 0;
    position: absolute;
  } 
  */
/*  .pure-table > tbody > tr > td {
    bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  } 
*/
  /*path {
    fill: blue;
  }*/
  /*.svg {
      filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
  */


  /*.colorize-pink {
    filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
  }

  .colorize-navy {
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
  }

  .colorize-blue {
    filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
  }

  :root {
    --main-bg-color: coral;
  }

  #div1 {
    background-color: var(--main-bg-color);
  }
  */
}

div#overlay:hover {
  background-color: #ccc;
}

div#overlay span.tiny {
  padding: 0.2em 0.5em 0.8em 0.5em;
}

/* why do these need to be outside of #overlay id? */
.pure-table > tbody > tr > td {
  bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
} 

table.pure-table > tbody > tr > input {
  margin: 0;
  padding: 2px !important;
}

div.scrollmenu {
  /*background-color: #333;*/
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu span {
  display: inline-block;
  /*color: white;*/
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu span:hover {
  /*background-color: #777;*/
}

/*.horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-100px);
}

.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  transform-origin: right top;
}
*/

.tooltip { /* Container for our tooltip */
    position: relative;   
    display: inline-block;
}

.tooltip .tooltiptext { /* This is for the tooltip text */
  font-size: smaller;
  visibility: hidden;
  width: 10em;
  background-color: #8512d5;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;  /* This defines tooltip text position */
  position: absolute;
  z-index: 9999;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
} 

.tooltip:hover .tooltiptext { /* Makes tooltip text visible when text is hovered on */
  visibility: visible;
  opacity: 1;
}
