.dev-cold, .iconDeletePinInactive, .iconTagDeleteInactive, .iconBlockPinInactive, .svg-cold {
  /*filter: invert(.5) sepia(1) saturate(3) hue-rotate(85deg);*/
  filter: invert(50%) sepia(50%) saturate(2) hue-rotate(45deg);
}

/*.hover-hot, */
.addtag-hot,
.dev-hot, .iconBlockPinActive, .iconDeletePinActive, .iconTagDeleteActive,
.reload-hot,
.search-hot,
.svg-hot {
  /*filter: invert(50%) sepia(50%) saturate(5) hue-rotate(90deg);*/
  filter: invert(40%) sepia(75%) saturate(5) hue-rotate(240deg);
}

.svg-unknown {
  filter: invert(40%) sepia(75%) saturate(5) hue-rotate(15deg);
}

.search-count {
  color: yellow;
  background-color: black;
  font-size: 1.5em;
}
